@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto w-[90%] sm:w-[95%];
  }

  .btn {
    @apply rounded-full transition-all duration-300 font-bold text-sm hover:scale-105 hover:opacity-90 active:scale-95;
  }

  .btn-primary {
    @apply bg-primary text-white;
  }

  .btn-secondary {
    @apply bg-white text-black border border-primary;
  }
}
